body {
  padding: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

h2 {
  font-weight: bold;
}

p, ul {
  line-height: 1.6em;
}


.jumbotron {
  padding: 10px;
}

.jumbotron h1 {
  font-size: 24px;
}

.jumbotron p {
  font-size: 12px;
}

.jumbotron ul {
  color: blue;
}

.bg-purple {
  padding: 10px;
  background-color: #E5D9FE;
}

#coin {
  height: 50%;
  width: 50%;
  float: left;
}

#duterte {
  height: 40%;
  width: 40%;
  float: right;
}

#miracle {
  height: 50%;
  width: 50%;
  float: right;
}

#poster {
  height: 50%;
  width: 50%;
  float: right;
}

#monastery {
  height: 400px;
  width: 300px;
  float: left;
}

#logo {
  height: 100px;
  width: 100px;
}

.panel-title-blue {
  background-color: #ABCDDB;
  font-size: 18px;
  padding: 2px;
}

.panel-title-green {
  background-color: #BDDBAB;
  font-size: 18px;
  padding: 2px;
}

.sidebar {
  color: blue;
  background-color: lightgrey;
}

.bg-purple {
  height: 450px;
}

.panel-title-purple {
  background-color: #BFABDB;
  font-size: 18px;
}

.bg-purple p {
  padding-top: 150px;
}

h3 {
  font-size: 12px;
  color: black;
  text-decoration: underline;
}

.sidebar > ul {
  list-style-type: none;
}
